<div *ngIf="lineOfBusiness">
  <h2>{{lineOfBusiness.name | uppercase}} Details</h2>
  <div><span>id: </span>{{lineOfBusiness.id}}</div>
  <div>
    <label for="lineOfBusiness-name">Line Of Business Name: </label>
    <input id="lineOfBusiness-name" [(ngModel)]="lineOfBusiness.name" placeholder="Line Of Business Name"/>
    <br />
    <label for="lineOfBusiness-description">Line Of Business Description: </label>
    <input id="lineOfBusiness-description" [(ngModel)]="lineOfBusiness.description" placeholder="Line Of Business Description"/>
  </div>
  <button (click)="goBack()">Go Back</button>
  <button (click)="save()">Save</button>
</div>
